<footer>
  {% include meta_backtotop.html footer=true %}
  bronystate 3.0 beta<br>
  <div class="icon-wrap">
    <div class="twit">
      <a href="https://twitter.com/Bronystate" class="noext"><span>Follow us on Twitter @Bronystate</span> <i class="fa fa-twitter-square"></i></a>
    </div>
    <div class="sep">
      &nbsp;-&nbsp;
    </div>
    <div class="rss">
      <a href="/news/atom.xml"><i class="fa fa-rss-square"></i> <span>Subscribe to our news feed</span></a>
    </div>
  </div>
</footer>
