{% capture cutoffDate %}{{ 'now' | date: '%s' | minus: 1209600 }}{% endcapture %}
{% for lotto in site.tags.lottery limit:1 %}
  {% capture lottoDate %}{{ lotto.date | date: '%s' }}{% endcapture %}
  {% if lottoDate > cutoffDate %}
    {% assign latestlotto = lotto %}
  {% endif %}
{% endfor %}
{% for post in site.posts %}
  {% unless post.tags contains "lottery" %}
    {% assign latestnews = post %}
    {% break %}
  {% endunless %}
{% endfor %}
<section id="zone_news">
  Cut: {{ cutoffDate }} // Lotto: {{ lottoDate }}
  <div class="article-wrap">
    {% if latestlotto %}
    <article class="recentlottery">
      {{ latestlotto.content }}
    </article>
    <hr>
    {% endif %}
    <article class="recentnews">
      {{ latestnews.content }}
    </article>
  </div>
  <!-- % include zone_sidebar.html % -->
</section>
