{% capture codeBlock %}
  {% assign embed = site.data.embed-switcher.embeds[site.data.embed-switcher.live] %}
  {% if embed == "" or embed == nil %}{% assign embed = site.data.embed-switcher.failsafe %}{% endif %}
{% endcapture %}{% assign codeBlock = nil %}
<section id='embedsection'>
  <div id="streambox">
    <iframe id="if_stream" name="if_stream" width="640" height="392" frameborder="0" style="border:0;outline:0" scrolling="no" src="{{ embed }}"></iframe>
    <div class="embedui">
      <a class="btn refresh noext" href="{{ embed }}" target="if_stream"><span class="caption">Refresh Stream</span></a>
      <a class="btn popout" href="javascript:popoutStream()"><span class="caption">Popout Stream</span></a>
      <a class="btn chatbox" href="javascript:toggleChatbox()"><span class="caption">Show/Hide Chat</span></a>
    </div>
  </div>
  <div id="chatbox">
    <iframe id="if_chat" name="if_chat" width="620" height="392" frameborder="0" style="border:0;outline:0" scrolling="no" src="/onboard.html"></iframe>
    <div class="embedui" style="text-align: right">
      <a class="btn twi" href="/lightirc/?bronystate,twilight_sparkle" target="if_chat"><span class="caption">#twilight_sparkle</span></a>
      <a class="btn pinkie" href="/lightirc/?bronystate,pinkie_pie" target="if_chat"><span class="caption">#pinkie_pie</span></a>
      <a class="btn dash" href="/lightirc/?bronystate,rainbow_dash" target="if_chat"><span class="caption">#rainbow_dash</span></a>
      <a class="btn flutt" href="/lightirc/?bronystate,fluttershy" target="if_chat"><span class="caption">#fluttershy</span></a>
      <a class="btn aj" href="/lightirc/?bronystate,applejack" target="if_chat"><span class="caption">#applejack</span></a>
      <a class="btn rarity" href="/lightirc/?bronystate,rarity" target="if_chat"><span class="caption">#rarity</span></a>
    </div>
  </div>
</section>
<script type="text/javascript">
  var streambox = document.getElementById('streambox');
  var chatbox = document.getElementById('chatbox');
  var if_stream = document.getElementById('if_stream');
  var if_chat = document.getElementById('if_chat');
  if_chat.src = "/onboard.html";  
  function popoutStream() {
    window.open(if_stream.src, "streamout", "location=0,resizable=1,status=0,toolbar=0,menubar=0,directories=0,scrollbars=0,width=720,height=480");
    if_stream.src = "";
  }
  function toggleChatbox() {
    if_chat.src = "/onboard.html";
    chatbox.classList.toggle('fade');
    streambox.classList.toggle('expand');
    if_stream.classList.toggle('expand');
  }
  window.addEventListener('load', function() {
    var stream = UstreamEmbed(if_stream);
    stream.addListener('live', function() {
      stream.callMethod('play');
    })
  });
</script>
