// Bronystate 3.0 - Color Scheme
// Shizuka Kamishima - 2015-11-19

@import 'ponyschemes';

// BLOCKS
$color-bk-body: $color-luna-coat-nmm;
$color-bk-content: $color-luna-coat;
$color-bk-header: $color-luna-magic;
$color-bk-blockquote: darken($color-bk-content, 80%); //TODO
$color-border: $color-luna-coat-nmm;
$color-bk-timerbar: mix($color-bk-body, $color-bk-header);

// WORDS
$color-text: #dddddd;
$color-text-title: $color-luna-coat-nmm;
$color-text-headers: desaturate(darken($color-celestia-outline, 10%), 0%);
$color-link: $color-celestia-mane-green;
$color-link-hover: $color-celestia-mane-pink;
$color-link-active: $color-link;
$color-link-nav: $color-text-title;
$color-link-nav-hover: $color-link-hover;
$color-link-nav-active: $color-link-hover;

// BUTTONS
$color-btn-text: $color-text;
$color-btn-blue: $color-luna-outline;
