// Bronystate 3.0 - Embed Boxes
// Shizuka Kamishima - 2015-11-15

#embedsection {
  margin: -1.75em -2em 1em -2em;
  padding: 3px;
  text-align: center;
}

iframe {
  background-color: #999;
  margin: auto;
}
