// Bronystate 3.0 - Pony Color Schemes
// Shizuka Kamishima - 2015-11-15
// Sourced from MLP Wikia

/* LUNA */
$color-luna-coat-dark: #061015; //NMM coat, very dark cornflower blue
$color-luna-coat-main: #373A77; //dark blue
$color-luna-outline: #13244D; //from Pony Color Guide
$color-luna-magic: #325baf; //moderate cobalt blue
$color-luna-mane: #2449BE; //moderate sapphire blue
$color-luna-mane-outline: #8E8AC4; //greyish persian blue

/* TWILIGHT */
$color-twi-coat-main: #dcaeee; //pale, light grayish mulberry
$color-twi-coat-light: #FDC7F9; //EQG twi skin
$color-twi-outline: #A66BBF; //from Pony Color Guide
$color-twi-magic: #FF5198; //light brilliant raspberry
$color-twi-mane: #3C4D85; //moderate sapphire blue
$color-twi-mane-outline: #16224A; //from Pony Color Guide
$color-twi-mane-highlight-1: #7744A1; //moderate violet
$color-twi-mane-highlight-2: #F0599C; //brilliant rose 