// Bronystate 3.0 - Pony Color Schemes
// Shizuka Kamishima - 2015-11-15
// Sourced from MLP Wikia

/* LUNA */
$color-luna-coat-nmm: #061015; //NMM coat, very dark cornflower blue
$color-luna-coat: #373A77; //dark blue
$color-luna-outline: #13244D; //from Pony Color Guide
$color-luna-magic: #325baf; //moderate cobalt blue
$color-luna-mane: #2449BE; //moderate sapphire blue
$color-luna-mane-outline: #8E8AC4; //greyish persian blue

/* TWILIGHT */
$color-twi-coat: #dcaeee; //pale, light grayish mulberry
$color-twi-coat-light: #FDC7F9; //EQG twi skin
$color-twi-outline: #A66BBF; //from Pony Color Guide
$color-twi-magic: #FF5198; //light brilliant raspberry
$color-twi-mane: #3C4D85; //moderate sapphire blue
$color-twi-mane-outline: #16224A; //from Pony Color Guide
$color-twi-mane-highlight-1: #7744A1; //moderate violet
$color-twi-mane-highlight-2: #F0599C; //brilliant rose

/* RAINBOW DASH */
$color-dash-coat: #9FE7FF; //very light cerulean
$color-dash-outline: #6DABDD;

/* FLUTTERSHY */
$color-flutt-coat: #FCF4A4; //pale, light greyish gold
$color-flutt-outline: #EBD463;

/* PINKIE PIE */
$color-pinkie-coat: #FAB3D1; //pale, light greyish raspberry
$color-pinkie-outline: #E980B3;

/* RARITY */
$color-rarity-coat: #F1F1F3; //light grey
$color-rarity-outline: #BEC2C3;

/* APPLEJACK */
$color-aj-coat: #FFC36B; //light brilliant gamboge
$color-aj-outline: #F26F31;
