// Bronystate 3.0 - Pony Color Schemes
// Shizuka Kamishima - 2015-11-19

// LUNA
$color-luna-coat-nmm: #061015; //NMM coat, very dark cornflower blue
$color-luna-coat: #373A77; //dark blue
$color-luna-outline: #13244D;
$color-luna-magic: #325baf; //moderate cobalt blue
$color-luna-mane: #2D5CAF;
$color-luna-mane-outline: #8759CB;
$color-luna-cm-black: #140A2E;
$color-luna-cm-white: #FAF9FD;

// TWILIGHT
$color-twi-coat: #D19FE4;
$color-twi-outline: #A66BBF;
$color-twi-magic: #FF5198; //light brilliant raspberry
$color-twi-mane: #273873;
$color-twi-mane-outline: #16224A;
$color-twi-mane-purple: #662D8A;
$color-twi-mane-pink: #ED438D;
$color-twi-cm-pink: #EC448C;
$color-twi-cm-white: #FFFFFF;

// RAINBOW DASH
$color-dash-coat: #9EDBF8;
$color-dash-outline: #6DABDD;
$color-dash-cm-blue: #1998D5;
$color-dash-cm-yellow: #FFE96B;
$color-dash-cm-red: #EE4043;
$color-dash-mane-outline: #1E98D5;
$color-dash-mane-red: #EE4144;
$color-dash-mane-orange: #F37033;
$color-dash-mane-yellow: #FDF6AE;
$color-dash-mane-green: #62BC4D;
$color-dash-mane-blue: #1E98D5;
$color-dash-mane-purple: #662F89;

// FLUTTERSHY
$color-flutt-coat: #FCF4A4; //pale, light greyish gold
$color-flutt-outline: #EBD463;
$color-flutt-cm-pink: #F4B6D1;
$color-flutt-cm-blue: #6CC9C6;
$color-flutt-mane: #F4B6D1;
$color-flutt-mane-outline: #E781B3;

// PINKIE PIE
$color-pinkie-coat: #FAB3D1; //pale, light greyish raspberry
$color-pinkie-outline: #E980B3;
$color-pinkie-cm-blue: #80D1F5;
$color-pinkie-cm-yellow: #FDF6AE;
$color-pinkie-mane: #ED458D;
$color-pinkie-mane-outline: #BE1C79;

// RARITY
$color-rarity-coat: #F1F1F3; //light grey
$color-rarity-outline: #BEC2C3;
$color-rarity-cm-fill: #7ED2F6;
$color-rarity-cm-lines: #1998D5;
$color-rarity-magic: #77CEF9; //light cornflower blue
$color-rarity-mane: #5F50A2;
$color-rarity-mane-outline: #4B1768;

// APPLEJACK
$color-aj-coat: #FFC36B; //light brilliant gamboge
$color-aj-outline: #F26F31;
$color-aj-cm-red: #EE4043;
$color-aj-cm-green: #61BB4C;
$color-aj-mane: #FDF6AE;
$color-aj-mane-outline: #EBD564;

// CELESTIA
$color-celestia-coat: #FFF9FD;
$color-celestia-outline: #E3CCDC;
$color-celestia-cm-orange: #FCC38B;
$color-celestia-cm-yellow: #FFF6B9;
$color-celestia-mane-blue: #63C6E3; //light cerulean
$color-celestia-mane-green: #64DCB7; //light turquoise
$color-celestia-mane-paleblue: #93B9FF; //very light cobalt blue
$color-celestia-mane-pink: #F5ADFF; //pale heliotrope
