// Bronystate 3.0 - Embed Boxes
// Shizuka Kamishima - 2015-11-15

$btn-padding: 8px;// 16px;

#embedsection {
  margin: -1.75em -2em 1em -2em;
  padding: 3px;
  text-align: center;
}

#streambox {
  float: left;
  overflow: hidden;
}

.embedui {
  text-align: left;
  padding: 1em;
}

#chatbox {
  float: right;
  padding-bottom: 1em;
  overflow: hidden;
  white-space: nowrap;
  width: 620px;
}

iframe {
  background-color: $color-luna-coat-nmm;
  margin: auto;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.8);
}

.btn {
  
  font-size: normal;
  
  position: relative;
  
  display: inline-block;
  margin-right: 0.75em;
  max-width: 32px;
  height: 32px;
  padding-left: 32px;
  
  overflow: hidden;
  white-space: nowrap;
  
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  transition: all .2s ease-out 0s;
  transition: max-width 2s ease-out 0s;
  
  i {
    padding: 0.5em;
    display: block;
    float: left;
  }
  
  img {
    border: none;
    margin: 0;
    padding: 0 0.5em 0 0;
  }
  
  span.caption {
    padding-right: 0.25em;
    display: inline-block;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    transition: background-color .2s ease-out 0s;
    transition: color .2s ease-out 0s;
    transition: opacity .2s ease-out 0s;
  }
  
  & > * {
    position: relative;
  }
  
  &:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  &:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
  
  // ICON BUTTONS WITH DEFAULT STYLE
  &.refresh {
    background: url('/assets/img/refresh.png') 0 0 no-repeat;
  }
  
  &.popout {
    background: url('/assets/img/popout.png') 0 0 no-repeat;
  }
  
  &.chatbox {
    background: url('/assets/img/chatbox.png') 0 0 no-repeat;
  }
  
  // DEFAULT BUTTON STYLE
  background-color: $color-btn-blue;
  color: $color-btn-text;
  
  &:hover, &:focus {
    background-color: lighten($color-btn-blue, 10%);
    max-width: 100%;
    
    span.caption {
      opacity: 1;
    }
  }
  
  // ICON BUTTONS WITH COLOR OVERRIDE
  &.twi {
    background: url('/assets/img/twilight.png') 0 0 no-repeat;
    &:hover, &:focus {
      background: url('/assets/img/twilight-hover.png') 0 0 no-repeat;
      background-color: $color-twi-coat;
      color: darken($color-twi-outline, 10%);
    }
  }
  
  &.pinkie {
    background: url('/assets/img/pinkie.png') 0 0 no-repeat;
    &:hover, &:focus {
      background: url('/assets/img/pinkie-hover.png') 0 0 no-repeat;
      background-color: $color-pinkie-coat;
      color: darken($color-pinkie-outline, 20%);
    }
  }
  
  &.rarity {
    background: url('/assets/img/rarity.png') 0 0 no-repeat;
    &:hover, &:focus {
      background: url('/assets/img/rarity-hover.png') 0 0 no-repeat;
      background-color: $color-rarity-coat;
      color: darken($color-rarity-outline, 10%);
    }
  }
  
  &.dash {
    background: url('/assets/img/dash.png') 0 0 no-repeat;
    &:hover, &:focus {
      background: url('/assets/img/dash-hover.png') 0 0 no-repeat;
      background-color: $color-dash-coat;
      color: darken($color-dash-outline, 10%);
    }
  }
  
  &.aj {
    background: url('/assets/img/applejack.png') 0 0 no-repeat;
    &:hover, &:focus {
      background: url('/assets/img/applejack-hover.png') 0 0 no-repeat;
      background-color: $color-aj-coat;
      color: darken($color-aj-outline, 10%);
    }
  }
  
  &.flutt {
    background: url('/assets/img/fluttershy.png') 0 0 no-repeat;
    &:hover, &:focus {
      background: url('/assets/img/fluttershy-hover.png') 0 0 no-repeat;
      background-color: $color-flutt-coat;
      color: darken($color-flutt-outline, 25%);
    }
  }
}
