---
---
/*
 * Bronystate 3.0 - Main Styles
 * Shizuka Kamishima - 2015-11-14
 */
 
@import 'globalstyles';

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  color: $color-text;
  font-family: $font-body;
  font-size: $size-text;
  background-color: $color-bk-body;
  background-image: url("/assets/img/100-75-5-monochrome.png");
}

#wrapper {
  //sets the master gutter width
  width: 1280px;
  min-width: 1280px;
  margin: 16px auto;
  background-color: $color-bk-content;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.8);
}

header {
  background-color: $color-bk-header;
  padding: 16px;
  text-align: center;
  
  h1 {
    font-family: $font-title;
    font-size: $size-title;
    color: $color-text-title;
    line-height: $lineheight-hx;
    margin-bottom: 0.25em;
  }
  
  nav {
    line-height: $lineheight-text-nav;
    font-weight: bold;
    color: $color-link-nav;
    font-size: $size-text-nav;
    
    ul {
      padding: 0;
      margin-left: 0;
      display: inline-block;
    }
    
    li {
      margin: 0;
      padding: 0 0.25em 0.25em 0;
      list-style-type: none;
      list-style-position: outside;
      float: left;
      &:after {
        content: " - ";
      }
      &:last-child:after {
        content: "";
      }
      
      a {
        @include transition(all .2s cubic-bezier(.25,.46,.45,.94));
        color: $color-link-nav; //TODO
        text-decoration: none;
        border-bottom: 1px solid transparent;
        &:visited {
          color: $color-link-nav; //TODO
        }
        &:hover {
          color: $color-link-nav-hover;
          border-bottom: 1px solid $color-link-nav-hover;
        }
        &:active {
          color: $color-link-nav-active;
        }
        &.youarehere {
          &:before {
            content: "[";
          }
          &:after {
            content: "]";
          }
        }
      }
    }
  }
}

#timerbar {
    background-color: $color-bk-timerbar;
    padding: 1em;
    margin: 0;
    text-align: center;
}

#timertitle {
  font-size: $size-h3;
}

#timerclock {
  font-size: $size-h2;
}

#contentwrapper {
  box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.8);
  padding: 2.5em 2em 1em;
  
  a > img {
    border-color: $color-link;
    &:hover {
      border-style: dotted;
    }
  }
}

section {
  margin-bottom: 1.5em;
  &:before {
    clear: both;
  }
}

@import 'zone_embeds';
@import 'zone_news';

hr {
  clear: both;
  border: 0;
  border-bottom: $border;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.vr {
  border-left: $border;
  padding-right: 1em;
}

p {
  line-height: $lineheight-text;
  padding-bottom: 1em;
}

a {
  transition: color 0.2s cubic-bezier(.25,.46,.45,.94);
  display: inline-block;
  color: $color-link;
  text-decoration: none;
  &:visited {
    color: $color-link;
  }
  &:hover {
    color: $color-link-hover;
  }
  &:active {
    color: $color-link-active;
  }
  
  //external links
  &[href^="http://"], &[href^="https://"] {
    &:after {
      font-family: FontAwesome;
      font-size: $size-text-small;
      font-weight: normal;
      content: '\f08e'; // fa-external-link
      margin: 0 0 0 3px;
    }
  }
  //exempt our domain and specifically marked links
  &[href*="//www.bronystate.net/"], &.noext {
    &:after {
      content: "";
      margin: 0;
    }
  }
  
  &.anchor {
    height: 0;
  }
}

strong {
  font-weight: bold;
}

ul,ol {
  line-height: 1.75em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  margin-left: 1em;
  text-indent: 0;
  
  ul, ol { //make nested lists not make empty space
    padding-bottom: 0;
  }
}

ol {
  margin-left: 0;
  counter-reset: item;
  
  & > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
    
    &:before {
      display: inline-block;
      width: 1em;
      padding-right: 0.5em;
      font-weight: bold;
      text-align: right;
      content: counter(item) ".";
    }
  }
}

h1 {
  font-size: $size-h1;
}

h2 {
  font-size: $size-h2;
}

h3 {
  font-size: $size-h3;
}

h1,h2,h3 {
  font-family: $font-headers;
  color: $color-text-headers;
  line-height: $lineheight-hx;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.anchor {
  height: 0;
}

:target {
  margin-left: -20px;
  &:before {
    display: inline-block;
    position: relative;
    left: -50px;
    font-family: FontAwesome;
    font-size: 20px;
    color: $color-link;
    content: "\f0a4"; //fa-hand-o-right
    opacity: 0;
    animation: 3s anchorfinger cubic-bezier(.45,.05,.55,.95);
  }
}

@keyframes anchorfinger {
  0%, 50%, 100% {
    transform: translateX(3px);
  }
  25%, 75% {
    transform: translateX(-3px);
  }
  50% { opacity: 1; }
  100%{ opacity: 0; }
  0%  { opacity: 1; }
}

img {
  padding: 1px;
  border: $border;
  border-radius: 10px;
  
  &.noborder {
    padding: 3px; //to keep spacing with bordered imgs
    border: none;
    border-radius: 0;
  }
}

.floatleft {
  float: left;
  margin-right: 1em;
}

.floatright {
  float: right;
  margin-left: 1em;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.color-warning {
  color: $color-twi-magic;
}

.backtotop {
  float: right;
  margin-left: -100%;
  margin-top: -1.5em;
  font-size: $size-text-small;
}

blockquote {
  background-color: $color-bk-blockquote;
  padding: 1em 1.25em 0;
  margin-bottom: 1em;
  font-size: 0.85em;
  overflow-x: hidden; //hide background if this is floated with something
}

footer {
  clear: both;
  margin-top: -1em;
  padding-top: 0.5em;
  border-top: $border;
  font-size: $size-text-small;
  text-align: center;
  cursor: default;
  
  $icon-size: 18px;
  $box-width: 200px;
  
  .icon-wrap {
    margin: auto;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .twit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: $box-width;
    i {
      font-size: $icon-size;
    }
    span {
      opacity: 0;
      @include transition(opacity 0.2s cubic-bezier(.25,.46,.45,.94));
    }
    &:hover span {
      opacity: 1;
    }
  }
  
  .sep {
    display: inline-block;
    width: 20px;
  }
  
  .rss {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: $box-width;
    i {
      font-size: $icon-size;
    }
    span {
      opacity: 0;
      @include transition(opacity 0.2s cubic-bezier(.25,.46,.45,.94));
    }
    &:hover span {
      opacity: 1;
    }
  }
}
