---
---
/*
 * Bronystate 3.0 - Onboarding Page
 * Shizuka Kamishima - 2015-11-20
 */

@import 'globalstyles';

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  //border: 1px red solid;
  color: $color-celestia-mane-paleblue;
  background-color: $color-luna-coat-nmm;
  font-family: $font-default;
  font-size: normal;
  
  width: 618;
  height: 390;
  //margin-bottom: 50px;
}

.finger {
  animation: bounce 3s infinite cubic-bezier(.46,.03,.52,.96);
  color: $color-celestia-mane-pink;
}

@keyframes bounce {
 0%, 100% {transform: translateY(2px);}
 50% {transform: translateY(-8px);}
}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  color: $color-celestia-outline;
  padding: 1em 2em;
}

.onboardwrap {
  padding: 2em;
}

h1 {
  text-align: center;
  padding-bottom: 1em;
}

strong {
  font-weight: bold;
}

a {
  color: $color-link;
  transition: color 0.2s cubic-bezier(.25,.46,.45,.94);
  font-weight: bold;
  text-decoration: none;
  
  &:visited {
    color: $color-link;
  }
  
  &:hover {
    color: $color-link-hover;
  }
  
  &:active {
    color: $color-link-active;
  }
}

p {
  line-height: $lineheight-text;
  margin-bottom: 1em;
}